* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  max-width: 35rem;
  margin: 5rem auto;
  background-color: #fff;
  color: #000;
  padding: 0 2rem;
  border-radius: 9px;
}

.container h2 {
  padding-top: 2rem;

  margin: 2rem 0;
}

.list {
  font-size: 2rem;
}

.btn {
  background-color: #000;
  color: #fff;

  border: none;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  margin-bottom: 1rem;
}

.list img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border-radius: 50%;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 2rem;

  font-weight: 600;
  padding: 1.5rem 0;
}

.person-details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.btn-container {
  text-align: center;
}
